<template name="home">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Buy Bitcoins Online From Trusted Professionals</h1>
      <p>Satoshi Portal is a Canadian Bitcoin Financial Institution located at Montreal's famous Bitcoin Embassy.</p>
      <p>We sell bitcoins directly to our registered members worldwide.</p>
      <p>We believe everyone should have an easy, fast, safe and convenient access to Bitcoins.</p>
      <p><a class="btn btn-primary btn-lg" href="/register" role="button">BUY BITCOINS NOW</a></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Trusted Institution</h2>
        <p>
          We are certified Bitcoin professionals involved in Bitcoin since 2011.
          Our philosophy is to help you take back control over your money.
          Our mission is to let you buy and sell bitcoins in the fastest, cheapest, safest and most convenient way possible.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Fast, easy and convenient</h2>
        <p>
          We let you sell and buy bitcoins instantly: within just a few seconds,
          you can walk out with cash in your hands and bitcoins in your wallet.
          We value your privacy and will never put any of your information online.
          We ask to see a valid government ID for transactions over $3000.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Safe and Reliable</h2>
        <p>
          There are no limits to how many bitcoins you can can purchase or sell.
          Whether you want to buy $10 or $1 000 000 worth of bitcoins,
          we can find the right solution to accommodate your needs.
          Bank transfers, non-cash payment methods and legal escrow services available.
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</template>
