<template name="login">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-1">Please login</h1>
    </div>
  </div>
  <div class="container">
    <form class="form-signin">
      <label for="username" class="sr-only">Username</label>
      <input type="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</template>
